*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    height: auto;
}

div p {
    font-size: 1.5em;
    font-family: "Fugaz One",  Italic;
    color:white;
  }

.main-container {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 900px;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container {
    /* border: 1px solid grey; */
    width: calc(100% - 66.6%);
    height: 100%;
    text-align: center;
    padding-top: 20px;
    
  }



.history-container , .note-container-box  {
    width: calc(100% - 15%);
    height: 300px;
    background-color: #0d0d0d;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 2px;
    color: white;
    border-radius: 20px;
    padding-top: 20px;
    font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

.note-container-box {
    margin-top: 10px;
    height: 300px;
    padding-bottom: 150px;
    
}

.note-container p {
    color:rgb(255, 255, 255);
    margin: 40px 0px 0px 40px;
    text-align: left;
    
}

.middle-container {
    /* border-left: 2px solid grey;
    border-right: 2px solid grey; */
    width: calc(100% - 66.6%);
    height: 100%;
    text-align: center;
}

.cal {
    width: 100%;
    /* background-color: whitesmoke; */
    height:30%;
    margin-top: 20px;
    color: white;
}

.scroll {
    width: 100%;
    height: 220px;
    /* background-color: skyblue; */
    max-height: 200px; /* Set a height limit */
    overflow-y: auto; /* Enables scrolling */
    
}
.scroll h2 {
    display: flex;
    justify-content: end;
    padding: 10px;


}
.inputNum{
    margin-top: 5%;
    height: 45px;
    width: 100%;
    font-size: 1.3em;
    text-align: right;
    background: transparent;
    color: white;
    border: 0px solid black;
    
}
    .numbers-buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr); /* Creates 5 equal-height rows */
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
    gap: 10px; /* Optional: Adds space between the grid items */
    margin-top: 30px;
}

.num1 , .num2, .num3, .num4 ,.num5,.num6,.num7,.num8,.num9,.num10,.num11,.num12,.num13,.num14,.num15,.num16,.num17,.num18,.num19,.num20{
    width: 80px;
    color: white;
    font-family: "Inter", serif;
    font-size: 1.3em;
    /* border: 2px solid white; */
    margin: 0 auto;
    height: 70px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #262626;
}

.num20 {
    background-color: #00e64d;
}

.num1,.num2,.num3,.num4,.num8,.num12,.num16,.num17 {
    color:#00e64d;
}

.line {
    height: 70px;
    width:1px;
    background-color: rgb(221, 221, 221);
    margin-top: -600px;
}









.last-container {
    /* border: 2px solid grey; */
    width: calc(100% - 66.6%);
    height: 100%;
    text-align: center;
    padding-top: 20px;

}

.other-functions {
    /* background-color: rgb(255, 195, 195); */
    width: calc(100% - 10%);
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* Creates 5 equal-height rows */
    grid-template-columns: repeat(3, 1fr); /* Creates 4 equal-width columns */
    gap: 10px; 
}

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6 {
    width: 70px;
    border: 2px solid #383838;
    border-radius: 20px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 55px;
    background-color: rgb(38, 38, 38);
    color:whitesmoke;
    font-family: "Inter", serif;
}
.box-1:hover,.box-2:hover,.box-3:hover,.box-4:hover,.box-5:hover,.box-6:hover { 
    border: 2px solid #00e64d;
    transition: all 0.4s ease-in-out;
    margin-top: 30px;
}

.last-container p {
    color: whitesmoke;
    font-size: 15px;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width:1170px) {
    .box-1,.box-2,.box-3,.box-4,.box-5,.box-6 {
      padding: 49px;
      margin-top: 0px;
     }

     .other-functions {
        margin-top: 50px;
        height: 300px;
     }
     
}
@media screen and (max-width:1060px) {
    .box-1,.box-2,.box-3,.box-4,.box-5,.box-6 {
      padding: 45px;
     }

         .other-functions {
             width: calc(100% - 30%);
             grid-template-columns: repeat(2, 1fr);
             /* Creates 4 equal-width columns */
             margin-left: 85px;
         }
         }
@media screen and (max-width:870px) {

    .main-container {
        position: relative; /* Needed for absolute positioning to work */
    /* background-color: green; */
    }
    
    .last-container {
        position: relative;
        top: 320px; /* Adjust as needed */
        right: 85%; /* Moves it outside */
        height: calc(100% - 90%);
    }
    .last-container p{
        margin-top: -50px;
        margin-left: 250px;
        text-align: center;
        width: 100%;
    }



    .other-functions {
        /* background-color: rgb(255, 195, 195); */
        width: 100%;
        height: 200px;
        display: flex;
        
    }
    
    .left-container {
        /* border: 1px solid grey; */
        width: calc(100% - 50%);
        min-width:300px;
        height: 100%;
        text-align: center;
        padding-top: 20px;
        margin-left: 200px;
      }
    .middle-container {
        /* border-left: 2px solid grey;
        border-right: 2px solid grey; */
        width: calc(100% - 50%);
        height: 100%;
        margin-right: -60px;
    }

    .numbers-buttons {
        display: grid;
        grid-template-rows: repeat(5, 1fr); /* Creates 5 equal-height rows */
        grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
        gap: 15px; /* Optional: Adds space between the grid items */
        margin-top: 20px;
    }

    .num1 , .num2, .num3, .num4 ,.num5,.num6,.num7,.num8,.num9,.num10,.num11,.num12,.num13,.num14,.num15,.num16,.num17,.num18,.num19,.num20{
        width: 90px;
        font-size: 1.3em;
        height: 70px;
       border-radius: 10px;
       
    }
    

         }

    @media screen and (max-width:817px) {
        .left-container {
            margin-left: 100px;
          }
            }

        @media screen and (max-width:713px) {
            .left-container {
                position: absolute;
                top: 820px;
                left: -100px
            }
    
            .last-container {
    
    
                top: 420px;
      
                right: 10%;
                
    
    
            }
    
            .other-functions {
                
                height: 400px;
                margin: 0 auto;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }

            .line{
                display: none;
            }
            .middle-container {
                /* border-left: 2px solid grey;
                border-right: 2px solid grey; */
                width: 100%;
                height: 100%;
                margin-left: 20%;
            }
        }

        @media screen and (max-width:576px) {
            .left-container {
                position: absolute;
                top: 820px;
                left: -10px;
                display: flex;
                width: 100%;
            }
            .last-container {
    
    
                top: 860px;
      
                right: 10%;
             
            }

            .history-container,.note-container-box{
                min-width: 200px;
                width: 100%;
            }
            .note-container p {
                margin-top: 0px;
            }
            .history-container {
                margin-top: 46px;
                margin-right: 50px;
                margin-left: -35px;
            }
            .left-container p {
                margin-right: -90px;
            }

            .other-functions {
                
                height:230px;
                margin-left: -230px;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
            }

        }

@media screen and (max-width:518px) {
    .left-container {
                left: -50px;
            }
}
@media screen and (max-width:473px) {
    .left-container {
                display: block;
            }
            .history-container,.note-container-box{
              
                width: 90%;
            }
            .history-container{
                margin: 0px;
            }
            .left-container {
                margin-left: 50px;
            }
            .left-container p{
                margin-right: 0px;
            }
            .last-container {
    
    
                top: 1190px;
      
                right: 15%;
             
            }
}

@media screen and (max-width:450px){
        .numbers-buttons {
    gap: 8px; 
    margin-top: 30px;
}

.num1 , .num2, .num3, .num4 ,.num5,.num6,.num7,.num8,.num9,.num10,.num11,.num12,.num13,.num14,.num15,.num16,.num17,.num18,.num19,.num20{
    width: 80px;
    font-family: "Inter", serif;
    font-size: 1.3em;
    height: 70px;
   border-radius: 10px;

}

}